@import "bootstrap";
@import "font-awesome";

@font-face {
  font-family: HelveticaNeueCyrBlack;
  url: url(font-path('HelveticaNeueCyr-Black.ttf'))
}

@font-face {
  font-family: HelveticaNeueCyrBlackItalic;
  url: url(font-path('HelveticaNeueCyr-BlackItalic.ttf'))
}

@font-face {
  font-family: HelveticaNeueCyrBold;
  url: url(font-path('HelveticaNeueCyr-Bold.ttf'))
}

@font-face {
  font-family: HelveticaNeueCyrBoldItalic;
  url: url(font-path('HelveticaNeueCyr-BoldItalic.ttf'))
}

@font-face {
  font-family: HelveticaNeueCyrHeavy;
  url: url(font-path('HelveticaNeueCyr-Heavy.eot'))
}

@font-face {
  font-family: HelveticaNeueCyrHeavyItalic;
  url: url(font-path('HelveticaNeueCyr-HeavyItalic.ttf'))
}

@font-face {
  font-family: HelveticaNeueCyrItalic;
  url: url(font-path('HelveticaNeueCyr-Italic.ttf'))
}

@font-face {
  font-family: HelveticaNeueCyrLight;
  url: url(font-path('HelveticaNeueCyr-Light.ttf'))
}

@font-face {
  font-family: HelveticaNeueCyrLightItalic;
  url: url(font-path('HelveticaNeueCyr-LightItalic.ttf'))
}

@font-face {
  font-family: HelveticaNeueCyrMedium;
  url: url(font-path('HelveticaNeueCyr-Medium.ttf'))
}

@font-face {
  font-family: HelveticaNeueCyrMediumItalic;
  url: url(font-path('HelveticaNeueCyr-MediumItalic.ttf'))
}

@font-face {
  font-family: HelveticaNeueCyrRoman;
  url: url(font-path('HelveticaNeueCyr-Roman.woff'))
}

@font-face {
  font-family: HelveticaNeueCyrThin;
  url: url(font-path('HelveticaNeueCyr-Thin.ttf'))
}

@font-face {
  font-family: HelveticaNeueCyrThinItalic;
  url: url(font-path('HelveticaNeueCyr-ThinItalic.ttf'))
}

@font-face {
  font-family: HelveticaNeueCyrUltraLight;
  url: url(font-path('HelveticaNeueCyr-UltraLight.ttf'))
}

@font-face {
  font-family: HelveticaNeueCyrUltraLightItalic;
  url: url(font-path('HelveticaNeueCyr-UltraLightItalic.ttf'))
}

html, body {
  font-size: 100%;
}

h2, a {
  font-family: HelveticaNeueCyrUltraLight;
}

@import "home";
