#contacts-block1 {
  background-image: url(asset_path('background5.jpg'));
  background-repeat: no-repeat;
  background-size: 100vw 75vh;
  background-attachment: fixed;
  height: 40rem;
  padding: 0;
}
